<!-- tastierino -->
<div class="tastierino">

  <!-- numeri -->

<div class="primopiano">
    <div class="pin"></div>
    <div class="codice">*****</div>
    <div class="uno">1</div>
    <div class="due">2</div>
    <div class="tre">3</div>
    <div class="quattro">4</div>
    <div class="cinque">5</div>
    <div class="sei">6</div>
    <div class="sette">7</div>
    <div class="otto">8</div>
    <div class="nove">9</div>
    <div class="zero">0</div>

</div>

<!-- linee -->

<div class="linee">
<div class="linea"></div>
<div class="lineadue"></div>
<div class="lineatre"></div>
<div class="lineaquattro"></div>
<div class="lineacinque"></div>
<div class="lineasei"></div>
<div class="lineasette"></div>
<div class="lineaotto"></div>
<div class="lineanove"></div>
<div class="lineadieci"></div>
<div class="lineaundici"></div>
<div class="lineadodici"></div>
<div class="lineatredici"></div>
<div class="lineaquattordici"></div>
<div class="lineaquindici"></div>
<div class="lineasedici"></div>
<div class="lineadiciassette"></div>
</div>

</div>

<!-- tasti -->
<div class="testo">CANCELLA</div>
<div class="text">AVANTI</div>
<div class="cancella"></div>
<div class="avanti"></div>

<!-- sfondo -->
<img class="" src="../../assets/img/codice sblocco/Rectangle 24.png" alt="">
<img class="sfondo" src="../../assets/img/codice sblocco/bacground 1.png" alt="">

