
<div class="elementi">
  <label class="custom-file-upload">
    <img src="../../assets/img/uploadimg.png" alt="">
    <input type="file" accept="image/png, image/jpeg" />
    <!-- Non aggiungere testo all'interno dell'input -->
  </label>
  
  <label for="">
    <input class="inserire" type="text" placeholder="NOME">
  </label>
  <label for="">
    <input class="inseriredue" type="text" placeholder="COGNOME">
  </label>
  <label for="">
    <input class="inseriretre" type="text" type="text" placeholder="INDIRIZZO"> 
  </label>
  <label for="">
    <input class="inserirequattro" type="date" placeholder="DATA DI NASCITA">
  </label>
  <label for="">
    <input class="inserirecinque" type="password" placeholder="PASSWORD">
  </label>
  <label for="">
    <input class="inseriresei" type="password" placeholder="RIPETI PASSWORD">
  </label>
  <label>
    <input class="inseriresette" type="text" placeholder="NUMERO DI TELEFONO" maxlength="12" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)">
  </label>
  
  <label for="">
    <input class="inserireotto" type="text" placeholder="CODICE UTENTE">
  </label>
  <button class="registrati" type="button">REGISTRATI</button>
</div>

<!-- <form class="form">

  <label>
    <input class="inserire" type="text" placeholder="Email Address"/>
  </label>
  <label>
    <input type="password" placeholder="Password"/>
  </label>
  <button class="red" type="button"><i class="icon ion-md-lock"></i> Log in</button>
  
  
</form> -->


  <div class="sfondo"></div>
